# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Sqlite database files
*.db

/tsl_parser
/tsl_sqlite
/tsl_gorm
/tsl_mongo
/tsl_graphql
/tsl_mem

/data/
/vendor/
Gopkg.lock

# Tools automatically downloaded:
/antlr
